/*CONTAINER LABEL IN FORM LOGIN*/
.container_label{
    width: 50%;
    float: left;
    margin-left: 24.5%;
}

/*CONTAINER "ACCEDI" TITLE*/
#container_title{
    float: left;
    width: 100%;
}

/*CONTAINER INPUT ELEMENT IN LOGIN FORM*/
.container_input_login{
    margin-bottom: 3%;
    width: 100%;
    height: 20%;
    text-align: center;
    float: left;
}

/*CONTAINER FORM LOGIN*/
#container_form_login{
    background-color: white;
    box-shadow: 5px 5px rgba(0,0,0, 0.1);
    border: 1px #3b83bd solid;
    border-radius: 3px;
    position: relative;
    top: 20%;
    width: 30%;
    height: 50%;
    display: flex;
}

/*INPUT ELEMENT IN FORM LOGIN*/
.loginControl{
    height: 50%;
    width: 50%;
}

/*BUTTON SUBMIT IN LOGIN FORM*/
#submit{
    margin-top: 5%;
    cursor: pointer;
    position: relative;
    left: 25%;
    width: 50%;
    height: 35%;
    color: white;
    text-align: center;
    background-color: #358000;
}

/*FORM LOGIN*/
.formLogin{
    margin-top: 20%;
    height: 40%;
    width: 100%;
}

/*INFORMATION TEXT IN FORM LOGIN*/
.infoLogin{
    text-align: center
}

/*ERROR TEXT IN FORM LOGIN*/
.errorLogin{

    color: red;
    position: absolute;
    float: left;
    margin-left: 35%
}

/*TEXT UNDER THE BUTTON SUBMIT*/
.verify{
    text-align: center;
}