/*BODY OF ALL HTML FILE*/
html,body{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    height: 100%;
    background-color: ghostwhite;
}

/*HEADER - NAVBAR*/
nav.navbar-expand-lg {
    margin-top: 0;
    height: 7%;
    padding: 4px;
    background-color: #3b83bd;
}

/*NAVBAR ELEMENT*/
li.nav-item a.active{
    background-color: #3b83bd;
    border-bottom: 3px darkorange solid;
}

/* NAVBAR LINK */
.nav-link{
    font-size: 18px;
}

/*ICON*/
.icon{
    height: 32px;
    width: 32px;
}

/*CONTAINER PROFILE ICON*/
div#icon_profile{
    float: right;
    margin-right: 1%;
}

/*CONTAINER PROFILE*/
div#container_profile{
    background-color: #EFEFEF;
    position: fixed;
    top: 7%;
    right: 0;
    height: 25%;
    width: 15%;
    border-radius: 3px;
}


/*CONTAINER MENU*/
div#container_menu{
    background-color: #EFEFEF;
    top:6%;
    width: 50%;
    height: 100%;
    text-align: center;
    position: fixed;
}

/*DROPDOWN MENU*/
div.dropdown-menu a.active{
    background-color: #3b83bd;
}

/*LIST IN CONTAINER PROFILE*/
#myAccount{
    padding: 0;
    margin-top: 0;
}

/*LI ELEMENT IN CONTAINER PROFILE*/
.login{
    width: 100%;
    height: 3%;
    text-align: center;
//font-size: 18px;
    cursor: pointer;
    float: left;
    background-color: #EFEFEF;
    color: black;
    border-bottom: 2px #3b83bd solid;
    padding: 2%;
    list-style: none;
}
.login:hover{
    background-color: lightblue;
}

/*LINK FOR LI ELEMENT .LOGIN*/
.a_profile{
    text-decoration: none;
    color: inherit;
}

.slide{
    color: red;
}

/*PRICE FOR CARDS*/
.card-text{
    color: black;
}

/*NAME FOR CARDS*/
.card-title{
    color: black;
}