/*CARD FOR ADD NEW DISHES*/
.cardPlus{
    margin-left: 0;
    height: 20rem;
    width: 15rem;
    margin-top: 5%;
    border: 6px #65db86 dashed;
    cursor: pointer;
}
.uscardPlus{
    float: left;
    display: inline-block;
    margin-left: 5%;
    cursor: pointer;
}

/*ICON PLUS FOR CARDPLUS*/
.plusIcon{
    width: 128px;
    height: 128px;
    margin-top: 35%;
    cursor: pointer;

}

/*CONTAINER FORM ADD PLATE*/
.container_add_plate{
    padding:0.5%;
    position: absolute;
    top: 20%;
    left:25%;
    width: 50%;
    height: 50%;
    background-color: white;
    border: 2px #F2F2F2 solid;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 52px -17px #000000;
    -moz-box-shadow: 0px 0px 52px -17px #000000;
    -o-box-shadow: 0px 0px 52px -17px #000000;
    box-shadow: 0px 0px 52px -17px #000000;
}

/*BUTTON SUBMIT ADDPLATE FORM*/
#addPlate{
    width: 15%;
    background-color: #358000;
    color: white;
}

/*ICON X FOR CLOSE ADDPLATE FORM*/
.iconClose{

    float: right;
    cursor: pointer;
}

/*CLASS FOR SET OPACITY WHEN ADDPLATE IS BLOCK*/
.opa{
    opacity: 0.5;
    background-color: rgb(33, 41, 52);
}

/*RESIZE FOR PREVIEW IMAGE IN THE FORM*/
.resize{
    height: 150px;
    margin: 30px 30px 0 0;
}

/*INPUT FILE IMAGE FOR ADDPLATE FORM*/
#imgFile{
    margin-left: 1.3%;
}

/*CONTAINER FOR PREVIEW IMAGE IN ADDPLATE FORM*/
#preview{
    float: right;
    margin-right: 15%;
}

/*ICON FOR DELETE INGREDIENT SANDWICH ONLY ADMIN SESSION*/
.icon3{
    width: 24px;
    height: 24px;
    float: left;
    left: 0;
}

/*BUTTON FOR REMOVE CARD ONLY ADMIN SESSION*/
.removeCard{
    height: 30%;
    width: 50%;
    background: #f34336;
    border: #f34336;
    color: white;
    text-align: center;
    line-height: 1;
    border-radius: 2px;
}

/*INPUT TEXT FOR ADDPLATE FORM*/
.addplateControl{
    width: 30%;
}

/*CONTAINER INPUT ELEMENT FOR ADDPLATE FORM*/
.container_inputPlate{
    width: 100%;
    height: 30%;
    margin-left: 1%;
}

/*CONTAIENR LABEL FOR ADDPLATE FORM*/
.container_label{
    margin-top: 3%;
    margin-left: 1%;
}

/*CONTAINER INPUT FILE FOR ADDPLATE FORM*/
.container_inputFile{
    width: 100%;
    height: 30%;
    margin-top: 3%;
}

/*CONTAINER INPUT SUBMIT FOR ADDPLATE FORM*/
.container_inputSubmit{
    width: 100%;
    height: 30%;
    margin-right: 5%;
    margin-top: 20%;
    text-align: right;
}

/*BUTTON SUBMIT FOR ADD SANDWICHES FORM*/
#addSand{
    width: 15%;
    background-color: #358000;
    color: white;
}