div#icon_menu{
    float: left;
    margin-top: 10px;
    margin-left: 15px;
}

div#list_menu{
    margin-top: 70px;
}

div#icon_profile{
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

div#icon_bell{
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

div#title {
    padding: 1px;
    text-align: center;
    font-family: Arialgold,sans-serif;
}

div#container_notifications{
    background: #EFEFEF;
    float: right;
    margin-right: 60px;
    height: 200px;
    width: 300px;
}

div#container_profile{
    background: #EFEFEF;
    float: right;
    height: 200px;
    width: 300px;
}