ul#menu {
    font-family: Verdana, sans-serif;
    font-size: 11px;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul#menu li {
    background-color: #EFEFEF;
    border-bottom: 5px solid #3b83bd;
    display: block;
    width: 150px;
    height: 30px;
    margin: 1px;
    float: left; /* elementi su singola riga */
}
ul#menu li a {
    color: black;
    display: block;
    font-weight: bold;
    line-height: 30px;
    text-decoration: none;
    width: 150px;
    height: 30px;
    text-align: center;
}

/*Freccia che passa sul bottone*/
ul#menu li.active, ul#menu li:hover {
    background-color: #d2d2d2;
    border-bottom: 5px solid #3b83bd;
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

div#containerMenu{
    display: inline-block;
}