body{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    height: 100%;
    background-color: ghostwhite;
}
.navbar-brand{
    color: white;
    margin-right: 20px;
    font-size: 30px;
}

/*HEADER - NAVBAR*/
nav.navbar-expand-lg {
    margin-top: 0;
    height: 60px;
    padding: 4px;
    background-color: #3b83bd;
}

li.nav-item a.active{
    background-color: #3b83bd;
    border-bottom: 3px darkorange solid;
}
