html,body{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    height: 100%;
    background-color: ghostwhite;
}

/*UNIMENSA*/
.navbar-brand{
    color: white;
    margin-right: 20px;
    font-size: 30px;
}

/*HEADER - NAVBAR*/
nav.navbar-expand-lg {
    margin-top: 0;
    height: 7%;
    padding: 4px;
    background-color: #3b83bd;
}

/*NAVBAR ELEMENT*/
li.nav-item a.active{
    background-color: #3b83bd;
    border-bottom: 3px darkorange solid;
}

/* NAVBAR LINK */
.nav-link{
    font-size: 18px;
}

/*ICON*/
.icon{
    height: 32px;
    width: 32px;
}

/*CONTAINER PROFILE ICON*/
div#icon_profile{
    float: right;
    margin-right: 1%;
}

/*CONTAINER BELL ICON*/
div#icon_bell{
    float: right;
    margin-right: 1%;
}

/*CONTAINER CART ICON*/
div#icon_cart{
    margin-right: 1%;
    float: right;
}

/*CONTAINER NOTIFICATIONS*/
div#container_notifications{
    background-color: #EFEFEF;
    position: fixed;
    top: 7%;
    right: 4%;
    height: 25%;
    width: 15%;
    border-radius: 3px;
}

/*CONTAINER PROFILE*/
div#container_profile{
    text-align: center;
    position: fixed;
    background: #EFEFEF;
    height: 25%;
    width: 15%;
    border-radius: 3px;
    top: 7%;
    right: 0px;
}

/*BUTTON PROFILE*/
.button_Profile{
    background-color: #3b83bd;
    border: #3b83bd;
    color: white;
    margin-top: 10px;
    height: 28px;
    width: 75%;
    text-align: center;
    line-height: 1;
}

.button_Profile:hover {
    background-color: #6c757d;
}

/*CONTAINER MENU*/
div#container_menu{
    background-color: #EFEFEF;
    top:59px;
    width: 50%;
    height: 100%;
    text-align: center;
    position: fixed;
}

div.dropdown-menu a.active{
    background-color: #3b83bd;
}


