<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carrello</title>

    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../css/homeCSS/home.css">
    <link rel="stylesheet" href="../css/homeCSS/contentHome.css">
    <link rel="stylesheet" href="../css/screen/screen768.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<!--NAVBAR-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container-fluid">

        <!--BUTTON MENU-->
        <button class="navbar-toggler" type="button">
           <span class="navbar-toggler-icon"
                 onclick="showContainer('container_menu');
                hideOtherMenu('container_menu')">
           </span>
        </button>

        <!--UNIMENSA-->
        <a class="navbar-brand text-white" href="../html/Home.html">uniMensa</a>

        <!--MENU LIST-->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-white"  href="../html/Home.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="../html/Mensa.html">Mensa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="../html/Ordini.html">Ordini</a>
                </li>
            </ul>
        </div>

        <!--CART-->
        <div id="icon_cart">
            <input type="image" class="icon" id="imgCart" alt="cart" src="../images/header/cart.png" title="Carrello">
        </div>

        <!--BELL-->
        <div id="icon_bell">
            <input type="image" class="icon" id="imgBell" alt="bell" src="../images/header/imgBell.png" title="Notifiche"
                   onclick="changeIcon('imgBell');
                       showContainer('container_notifications');
                       hideOtherMenu('container_notifications')">
        </div>


        <!--PROFILE-->
        <div id="icon_profile">
            <input type="image" class="icon" id="imgProfile" alt="profile" src="../images/header/imgProfile.png" title="Profilo"
                   onclick="changeIcon('imgProfile');
                       showContainer('container_profile');
                       hideOtherMenu('container_profile')">
        </div>

    </div>
</nav>

<!--CONTAINER MENU SMARTPHONE-->
<div id="container_menu" class="dropdown-menu" style="display: none">
    <a class="dropdown-item active" href="../html/Home.html">Home</a>
    <a class="dropdown-item " href="../html/Mensa.html">Mensa</a>
    <a class="dropdown-item" href="../html/Ordini.html"> Ordini</a>
</div>

<!--CONTAINER NOTIFICATIONS-->
<div id="container_notifications" style="display: none">
    <ul id="notifications">
        <li><a href="#"> Ritira il pasto</a></li>
        <li><a href="#"> Il pasto è pronto</a></li>
    </ul>
</div>

<!--CONTAINER PROFILE-->
<div id="container_profile" style="display: none">
    <div id="container_buttonProfile" style="display: block">
        <a href="../html/Login.html" class="btn btn-info button_Profile" role="button">Login</a>
        <br>
        <a href="../html/Signin.html" class="btn btn-info button_Profile" role="button">Signin</a>
    </div>
    <br><br>

    <div id="container_infoProfile">
        <ul id="myAccount">
            <li><a href="#"> Il mio account</a></li>
            <li><a href="#"> Logout</a></li>
        </ul>
    </div>
</div>
