<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Login</title>

  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../static/css/loginCSS/login.css">
  <link rel="stylesheet" href="../static/css/screen/screen768.css">
  <link rel="stylesheet" href="../static/css/homeCSS/home.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body onLoad="login.Name.focus()">

      <!--NAVBAR-->
      <nav class="navbar navbar-expand-lg navbar-light fixed-top">

        <div class="container-fluid">

          <!--UNIMENSA-->
          <a class="navbar-brand text-white" href="../templates/Home.html">uniMensa</a>

        </div>
      </nav>


      <div  id="container_form_login" class="container-fluid" style="display: block">
        <div class="container-fluid" id="container_title">
          <h1>Accedi</h1>
        </div>
        <div class="container formLogin">
          <form name="login" method="POST" action="/">

            <div class="container container_label">
              <label for="email">
                E-mail istituzionale
              </label>
            </div>
            <div class="container container_input_login">
              <input type="email" class="loginControl" id="email" name="Email">
            </div>
            <div class="container container_label">
              <label for="password">
                Password
              </label>
            </div>
            <div class="container container_input_login">
              <input type="password" class="loginControl" id="password" name="Password">
            </div>

            <p class="invalid-feedback"></p>
          <input type="submit" value="Accedi" id="submit">

          </form>
        </div>

        <div class="container container_submit">

        </div>
      </div>


<script src="../static/js/Home.js"></script>
<script src="../static/js/JQuery.js"></script>
<script src="../static/bootstrap/js/bootstrap.esm.js"></script>
</body>
</html>

