<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <title>Login</title>

  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../static/css/loginCSS/login.css">
  <link rel="stylesheet" href="../static/css/screen/screen768.css">
  <link rel="stylesheet" href="../static/css/homeCSS/home.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body onLoad="login.Email.focus();">

      <!--NAVBAR-->
      <nav class="navbar navbar-expand-lg navbar-light fixed-top">

        <div class="container-fluid">

          <!--UNIMENSA-->
          <a class="navbar-brand text-white" href="/" style="font-family: 'Britannic Bold'">uniMensa</a>

        </div>
      </nav>


      <div  id="container_form_login" class="container-fluid" style="display: block">
        <div class="container-fluid" id="container_title">
          <h1>Accedi</h1>
        </div>
        <!--p class="infoLogin">Inserisci email e password del portale dell'università</p-->
        <div class="container formLogin">
          <form name="login" method="POST" action="/">
            <div class="container container_label">
              <label for="email">
                E-mail istituzionale
              </label>
            </div>
            <div class="container container_input_login">

              <input type="email" class="loginControl" id="email" name="Email">
            </div>

            <div class="container container_label">
              <label for="password">
                Password
              </label>
            </div>
            <div class="container container_input_login">
              <input type="password" class="loginControl" id="password" name="Password">

            </div>
            <div class="container container_submit">
              {% if error == 2%}
              <p class="errorLogin">Email sbagliata</p>
              {% endif %}

              {% if error == 1%}
              <p class="errorLogin">Password sbagliata</p>
              {% endif %}

              <input type="submit" value="Accedi" id="submit" onclick="svuota()">

              <p class="verify"> Non sei ancora registrato ? <a href="/signin"> Registrati </a></p>

            </div>
          </form>
        </div>
      </div>


<script src="../static/js/Home.js"></script>
<script src="../static/js/JQuery.js"></script>
<script src="../static/bootstrap/js/bootstrap.esm.js"></script>

</body>

</html>

