<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ordini</title>
    <link rel="stylesheet" href="../css/headerCSS/style.css">
    <link rel="stylesheet" href="../css/headerCSS/navigationBar.css">
    <link rel="stylesheet" href="../css/headerCSS/homeList.css">
    <link rel="stylesheet" href="../css/headerCSS/container.css">
    <link rel="stylesheet" href="../css/headerCSS/button.css">
    <link rel="stylesheet" href="../css/headerCSS/text.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="header">
    <div id="icon_menu" >
        <input type="image" id="button_menu" alt="menu" src="../images/menu.png"
               onclick="swapMenu('lateral_menu')">
        <p id="txt_menu">MENU</p>
    </div>
    <h1>uniMensa</h1>
    <nav id="lateral_menu" style="display: none">
        <div id="icon_x">
            <input type="image" id="close_menu" alt="menu" src="../images/close.png"
                   onclick="swapMenu('lateral_menu')">
        </div>
        <div id="list_menu">
            <ul id="menu">
                <li><a href="../html/Home.html">Home</a></li>
                <li><a href="../html/Ordini.html">Ordini</a></li>
                <li><a href="../html/Mensa.html">Mensa</a></li>
                <li><a href="../html/Calendario.html">Calendario</a></li>
            </ul>
        </div>
    </nav>
</div>
<script language="JavaScript" src="../js/Home.js"></script>
</body>
</html>

