<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signin</title>

    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../css/homeCSS/home.css">
    <link rel="stylesheet" href="../css/signinCSS/signin.css">
    <link rel="stylesheet" href="../css/screen/screen768.css">


    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body onLoad="signin.Name.focus();">


<!--NAVBAR-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top">

    <div class="container-fluid">

        <!--UNIMENSA-->
        <a class="navbar-brand text-white" href="../html/Home.html">uniMensa</a>

    </div>
</nav>


        <div  id="container_form_signin" class="container-fluid content_center" style="display: block">
            <div class="container-fluid" id="container_title">
                <h1>Registrazione</h1>
            </div>
            <div class="container formSignin">
            <form name="signin" method="post" action="../html/Home.html">
                <div class="container container_label">
                    <label for="name">
                        Nome
                    </label>
                </div>
                <div class="container-fluid container_input_signin">
                    <input type="text" class="signinControl" id="name" name="Name">
                </div>
                <div class="container container_label">
                    <label for="surname">
                        Cognome
                    </label>
                </div>
                <div class="container container_input_signin">
                    <input type="text" class="signinControl" id="surname" name="Surname">
                </div>
                <div class="container container_label">
                    <label for="email2" id="prova">
                        E-mail istituzionale
                    </label>
                </div>
                <div class="container container_input_signin">
                    <input type="email" class="signinControl" id="email2" name="Email">
                </div>
                <div class="container container_label">
                    <label for="password2">
                        Password
                    </label>
                </div>
                <div class="container container_input_signin">
                    <input type="password" class="signinControl" id="password2" name="Password">
                </div>

                <div class="container container_label">
                    <label for="confirm_password">
                        Conferma Password
                    </label>
                </div>
                <div class="container container_input_signin">
                    <input type="password" class="signinControl" id="confirm_password" name="Password">
                </div>

            </form>
            </div>

            <div class="container container_submit">
                <input type="submit" value="Registrati" id="submit">

                <p> Hai già un account ? <a href="Login.html"> Accedi </a></p>
            </div>
        </div>


<script language="JavaScript" src="../js/Home.js"></script>
<script language="JavaScript" src="../js/Signin.js"></script>
</body>
</html>

