<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home-Ristoratore</title>

  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../static/css/homeCSS/home.css">
  <link rel="stylesheet" href="../static/css/homeCSS/home_00.css">
  <link rel="stylesheet" href="../static/css/homeCSS/contentHome.css">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/favicons/apple-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="192x192" href="../static/images/favicons/apple-touch-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../static/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicons/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="shortcut icon" type="image/png" href="../static/images/logo/logo2.png">
</head>

<body onload="loadCard('choose_plate');">

    <!--NAVBAR-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
         <div class="container-fluid">

             <a href="/Home"><img  src="../static/images/logo/logo.png" alt="logo_unimensa" style="width: 287px; height: 50px;"></a>
            <!--UNIMENSA-->


            <!--PROFILE-->
            <div id="icon_profile">
                     <input type="image" class="icon" id="imgProfile" alt="profile" src="../static/images/header/imgProfile.png" title="Profilo"
                                    onclick="changeIcon('imgProfile');
                                            showContainer('container_profile');">
            </div>
        </div>
    </nav>


         <!--CONTAINER PROFILE-->
         <div id="container_profile" style="display: none">
                 <ul id="myAccount">
                     <li class="login" onclick="goTo('/LoadOrder')"><a class='btn a_profile' role="button" href="/LoadOrder">Ordini</a></li>
                     <li class="login" onclick="goTo('/logout')"><a class='btn a_profile' role="button" href="/logout">Logout</a></li>
                 </ul>
        </div>



    <div class="container-fluid content_center">
        <div class="container" id="container_listPlate">
            <!--LIST IN CREATE MENU-->
            <ul id="listPlate">
                <li class="liPlate" id="choose_plate">
                    <p class="p_listPlate">Scelte rapide</p></li>
                <li class="liPlate " id="first_plate">
                    <p class="p_listPlate">Primi</p></li>
                <li class="liPlate" id="second_plate">
                    <p class="p_listPlate">Secondi</p></li>
                <li class="liPlate" id="side_dish">
                    <p class="p_listPlate">Contorni</p></li>
                <li class="liPlate" id="fruits">
                    <p class="p_listPlate">Frutta</p></li>
                <li class="liPlate" id="desserts">
                    <p class="p_listPlate">Dolci</p></li>
                <li class="liPlate" id="sandwiches">
                    <p class="p_listPlate">Panini</p></li>
                <li class="liPlate" id="pizza">
                    <p class="p_listPlate">Pizze</p></li>
                <li class="liPlate" id="drink">
                    <p class="p_listPlate">Bibite</p></li>
            </ul>
        </div>

        <div class="container" id="content_cards_menu" style="display: inline-block">
            <!--CARDS HORIZONTAL-->
            <div id='cntcards1' class="container-fluid container_card cntcards1">
                <div class="col-md-3 uscardPlus">
                    <div class="card cardPlus" onclick="showContainer('add_plate')">
                        <div>
                            <img src="../static/images/menu_ristoratore/icon_add.png" class='plusIcon' alt="img_element">
                            <p>Aggiungi un nuovo piatto</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="container" id="container_sandwiches" style="display: none">

        <div class="cntsnd">
            <div class="nameContainerCheckbox">
                <h3>Pane</h3>
            </div>
            <div class="container_checkbox" id="bread">
            </div>
         </div>


        <div class="cntsnd">
            <div class="nameContainerCheckbox">
                <h3>Formaggi</h3>
            </div>
            <div class="container_checkbox" id="cheese">
            </div>
        </div>


        <div class="cntsnd">
            <div class="nameContainerCheckbox">
                <h3>Contorni</h3>
            </div>
            <div class="container_checkbox" id="dish">
            </div>
        </div>

        <div class="cntsnd">
            <div class="nameContainerCheckbox">
            <h3>Carne</h3>
            </div>
            <div class="container_checkbox" id="meat">
            </div>
        </div>


        <div class="cntsnd">
            <div class="nameContainerCheckbox">
                <h3>Salumi</h3>
            </div>
            <div class="container_checkbox" id="sausage">
            </div>
        </div>

        <div class="cntsnd">
            <div class="nameContainerCheckbox">
                <h3>Salse</h3>
            </div>
            <div class="container_checkbox" id="sauce">
            </div>
        </div>


        <div class="container-fluid">
            <input type="button" id='add_ingr' class="button_sandwiches" value="Aggiungi ingrediente"
                   onclick="showContainer('add_sand')">
        </div>
    </div>
    </div>

    <div class="container_add_plate" id="add_plate" style="display: none">
        <img src="../static/images/menu_ristoratore/close.png" alt="close" class="icon iconClose" onclick="showContainer('add_plate')">
        <form name="addPlate" method="post" enctype="multipart/form-data">
            <div id="preview"></div>
            <div class="container container_label">
                <label for="plate_name">
                    Nome piatto:
                </label>
            </div>
            <div class="container container_inputPlate">
                <input type="text" class="addplateControl" id="plate_name" name="Name">
            </div>

            <div class="container container_label">
                <label for="price">
                    Prezzo:
                </label>
            </div>
            <div class="container container_inputPlate">
                <input type="text" class="addplateControl" id="price" name="Price">
            </div>

            <div class="container container_inputPlate" style="display: none">
                <input type="text" class="addplateControl" id="section_card" name="Section_card">
            </div>

            <div class="container container_inputFile">
                <input type="file" name="imgFile" id="imgFile">
            </div>

            <div class="container container_inputSubmit">
            <input type="submit" value="Aggiungi" id="addPlate">
            </div>
        </form>


    </div>


    <div class="container_add_plate" id="add_sand" style="display: none">
        <img src="../static/images/menu_ristoratore/close.png" alt="close" class="icon iconClose" onclick="showContainer('add_sand')">
        <form name="addSand" method="post" enctype="multipart/form-data">
            <div class="container container_label">
                <label for="plate_name">
                    Nome Ingrediente:
                </label>
            </div>
            <div class="container container_inputPlate">
                <input type="text" class="addplateControl" id="sand_name" name="sand_name">
            </div>

            <div class="container container_label">
                <label for="price">
                    Prezzo:
                </label>
            </div>
            <div class="container container_inputPlate">
                <input type="text" class="addplateControl" id="sand_price" name="sand_price">
            </div>

            <div class="container container_inputPlate">
                <select class="form-select" aria-label="Default select example" id="typeSand" name="typeSand">
                    <option selected>Tipo ingrediente</option>
                    <option value="bread">Pane</option>
                    <option value="cheese">Formaggi</option>
                    <option value="dish">Contorni</option>
                    <option value="meat">Carne</option>
                    <option value="sausage">Salumi</option>
                    <option value="sauce">Salse</option>
                </select>
            </div>


            <div class="container container_inputSubmit">
                <input type="button" value="Aggiungi" id="addSand" onclick="addSandwiches()">
            </div>
        </form>


    </div>



<script src="../static/js/Home.js"></script>
<script src="../static/js/JQuery.js"></script>
<script src="../static/bootstrap/js/bootstrap.esm.js"></script>
<script src="../static/js/home_00.js"></script>


</body>
</html>