
.container_label{
    width: 50%;
    float: left;
    margin-left: 24.5%;
}

#container_title{
    float: left;
    width: 100%;
}

.container_input_login{
    margin-bottom: 3%;
    width: 100%;
    height: 20%;
    text-align: center;
    float: left;
}

#container_form_login{
    background-color: white;
    box-shadow: 5px 5px rgba(0,0,0, 0.1);
    border: 1px #3b83bd solid;
    border-radius: 3px;
    position: relative;
    top: 20%;
    width: 30%;
    height: 50%;
    display: flex;
}

.loginControl{

    height: 50%;
    width: 50%;
}

#submit{
    margin-top: 5%;
    cursor: pointer;
    position: relative;
    left: 25%;
    width: 50%;
    height: 35%;
    color: white;
    text-align: center;
    background-color: #358000;
}

.formLogin{
    margin-top: 10%;
    height: 40%;
    width: 100%;
}

.infoLogin{
    text-align: center
}

.errorLogin{

   color: red;
   position: relative;
   float: left;
}